html{
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing:inherit;
}
header img,hi{
  max-height: 100px;
  width:auot;
  display: inline-block;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.myForm {
  background-image: url("pic/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  max-width: 75%;
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: .8em;
  padding: 1.2em;
}
.myForm > label  {
  grid-column: labels;
  grid-row: auto;
}
.myForm > input,
.myForm > textarea
{
  grid-column: controls;
  grid-row: auto;
  border: none;
  padding: 1em;
  resize: vertical;
}

.popupContainer {
  grid-column: controls;
  grid-row: auto;
  border: none;
  /* padding: 1em; */
  position: relative;
  display:inline-block;
  
}
.popupContainer .popupText{
visibility:hidden;
position: absolute;
z-index: 1;
bottom:112%;
left:50%;
background-color:black;
color: white;
cursor: pointer;
width:100px;
margin-left:-50px;
text-align:center;
}

/* Popup arrow */
.popupContainer .popupText::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  top:100%;
  left:50%;
}

.popupContainer .show {
  visibility: visible;

}

.button
{
  width:100%;
  border: none;
  padding: 1em;
  resize: vertical;
}
.button:hover{
  background-color:goldenrod;
  color:white;
}