html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing:inherit;
}
.main-container{
    position: relative;
    /* background: #5C97FF; */
    overflow: hidden;  
}
/* set background img to opacity 0.4 as img don't have opacity property, need to do it in bgimg */
.main-container:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background-image: url("pic/main-background.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
h1 {
    color:goldenrod;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
header img{
    display: block;
    max-width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.name {
    text-align: center;
}
.banner-container {
    display: grid;
    max-width:100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin:auto;
    /* grid-gap: 20px; */
  }
.function-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    max-width:50%;
    margin:auto;
    text-align:center;
    justify-items: center;
}
.grid-image img {
      max-width:100%;
      height:auto;
      padding: 5px;
      border-style: dotted;
      border-width: 5px;
  }
.grid-image2 img{
    max-width:100%;
    
  
}
